node_modules
.next
.git
.env
.env.local
.env.example
*.log
Dockerfile
.dockerignore
CCT*.txt
debug_tables.sql
migrations
database
scripts
node_modules.zip
package-lock.json.bak
CCT_2026.txt
CCT_TESTE.txt
CCT_TESTE2.txt
CCT_TESTE_3.txt
CCT_ZAMP.txt
CCT_ZAMP2.txt
CCT_ZAMP_2.txt
CCT_ZAMP_3.txt
CCT_ZAMP_4.txt
CCT_ZAMP_5.txt
CCT_ZAMP_6.txt
CCT_ZAMP_7.txt
CCT_ZAMP_TESTE.txt
CCT_ZAMP_TOTAL.txt
CCT_ZAMP_V2.txt
CCT_ZAMP_V3.txt
CCT_ZAMP_V4.txt
CCT_ZAMP_V5.txt
CCT_ZAMP_V6.txt
CCT_ZAMP_V7.txt
CCT_ZAMP_V8.txt
CCT_ZAMP_V9.txt
CCT_ZAMP_VAZIO.txt
CCT_ZAMP_X.txt
